<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Program Coordinator Profile</title>
  </head>
  <body>
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
        >
          <span class="ml-3 text-xl">Coursohelic</span>
        </a>
        <nav
          class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
          <a href="CoordinatorHome.html" class="mr-5 hover:text-gray-900"
            >Home</a
          >
          <a href="CoordinatorProfile.html" class="mr-5 hover:text-gray-900"
            >Coordinator Profile</a
          >
        </nav>
        <button
          class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
        >
          Logout
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </header>
    <div class="container px-5 py-12 mx-auto">
      <div
        class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto text-center"
      >
        <h1
          class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900"
        >
          Coordinator's Profile
        </h1>
      </div>
    </div>
    <div class="flex flex-wrap justify-center">
      <div class="w-6/12 sm:w-4/12 px-4">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzOkxkw4_Jroi5sHXGeyoLXKvEQdHcwNd6kuIGA-fkwbdUfh76NOlI9V_9Bi5Y0RrnMkQ&usqp=CAU"
          alt=""
          class="shadow-lg rounded-full max-w-xs h-2/3 align-middle border-none"
        />
      </div>
      <div class="mt-10">
        <p class="text-lg font-medium">Here lies username</p>
        <p class="">Position, program</p>
        <p class="leading-relaxed">instituition</p>
      </div>
      <div class="container px-1 mt-1 mr-4">
        <div
          class="lg:w-2/3 flex flex-col sm:flex-row sm:items-right items-start mx-40 justify-end"
        >
          <button
            class="flex-shrink-0 text-white bg-blue-500 border-0 py-0 px-2 focus:outline-none hover:bg-blue-600 rounded text-lg mt-10 sm:mt-0"
          >
            <a href="EditCoordinatorProfile.html"> Edit Profile </a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
