<html>
  <head>
    <header class="text-gray-600 body-font">
        <div
          class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
        >
          <a
            href="CoordinatorHome.html"
            class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
          >
            <span class="ml-3 text-xl">Coursohelic</span>
          </a>
  
          <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
          >
            <a href="" class="mr-5 hover:text-gray-900">Home</a>
            <a href="#" class="mr-5 hover:text-gray-900">Coordinator Profile</a>
          </nav>
          <button
            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
          >
            <a href="logout/"> Logout </a>
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-1"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>Coordinator Login</title>
    <body>
      <section
        class="bg-white min-h-screen flex items-center justify-center animate__animated animate__zoomIn"
      >
        <!-- login container -->
        <h2>
            You are not verified yet.
        </h2>

          <!-- image -->
          <div class="md:block hidden w-1/2">
            <img
              class="rounded-2xl"
              src="https://img.freepik.com/free-vector/admin-concept-illustration_114360-3427.jpg?w=826&t=st=1666106687~exp=1666107287~hmac=58ded704c5c04ff9f6ce4eb3a6ef8901e4bf4366923150325c0472f72f356c8a"
            />
          </div>
        </div>
      </section>
    </body>
  </head>
</html>
