<!DOCTYPE html>
<html>
    <head>
        <title>Admin Form</title>
    </head>

    <body>
        <form method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name"><br>

            <label for="institution">Institution name</label>
            <input type="text" name="institution" id="institution"><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email"><br>

            <label for="contact">Contact number</label>
            <input type="tel" name="phone" id="phone"><br>

            <label for="pwd">Password</label>
            <input type="password" id="pwd" name="pwd"> 

            <label for="conpwd">Confirm Password</label>
            <input type="password" id="conpwd" name="conpwd"> 

            <input type="submit" value="Submit">
        </form>
    </body>
</html>