<html>
  <head>
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section class="bg-gray-50 min-h-screen flex items-center justify-center">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="p-4 md:w-1/3">
            <div
              class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
            >
              <img
                class="lg:h-48 md:h-36 w-full object-cover object-center"
                src="https://t3.ftcdn.net/jpg/03/62/56/24/360_F_362562495_Gau0POzcwR8JCfQuikVUTqzMFTo78vkF.jpg"
                alt="blog"
              />
              <div class="p-6">
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  Admin
                </h1>
                <p class="leading-relaxed mb-3">
                  Create department and assign Coordinator for each department
                </p>
                <div class="flex items-center flex-wrap">
                  <a href="/AdminLogin/"
                    class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
                    >Login
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <span
                    class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                  >
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="p-4 md:w-1/3">
            <div
              class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
            >
              <img
                class="lg:h-48 md:h-36 w-full object-cover object-center"
                src="https://t3.ftcdn.net/jpg/03/16/92/96/360_F_316929684_tjD9fs3q8T2mTTRFqGEPDzyku7WvMu56.jpg"
                alt="blog"
              />
              <div class="p-6">
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  Program Coordinator
                </h1>
                <p class="leading-relaxed mb-3">
                  Create courses, assign courses to the Instructors and provide
                  course outline
                </p>
                <div class="flex items-center flex-wrap">
                  <a
                    href="/coordinator/"
                    class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
                    >Login
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <span
                    class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                  >
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="p-4 md:w-1/3">
            <div
              class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
            >
              <img
                class="lg:h-48 md:h-36 w-full object-cover object-center"
                src="https://thumbs.dreamstime.com/b/icon-teaching-teach-teaching-142376309.jpg"
                alt="blog"
              />
              <div class="p-6">
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  Program Instructor
                </h1>
                <p class="leading-relaxed mb-3">
                  Map Course Outcome and Program Outcome, maintain student
                  academic activities
                </p>
                <div class="flex items-center flex-wrap">
                  <a
                    href="/instructor/"
                    class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
                    >Login
                    <svg
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <span
                    class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
                  >
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
