<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Program Coordinator Registration</title>
    <body>
      <section class="bg-gray-50 min-h-screen flex items-center justify-center">
        <!-- login container -->
        <div
          class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center"
        >
          <!-- form -->
          <div class="md:w-1/2 px-8 md:px-16">
            <h2 class="font-bold text-2xl text-[#002D74]">Registration</h2>
            <p class="text-xs mt-4 text-[#002D74]">
              New Coordinator?? Create an account
            </p>

            <form method="POST" actions="" class="flex flex-col gap-4">
              {% csrf_token %} {{form.username}} {{form.first_name}}
              {{form.institution}} {{form.email}} {{form.password1}}
              {{form.password2}}
              <div
                class="alert flex flex-row items-center bg-red-200 p-5 rounded border-b-2 border-red-300"
              >
                <div
                  class="alert-icon flex items-center bg-red-100 border-2 border-red-500 justify-center h-10 w-10 flex-shrink-0 rounded-full"
                >
                  <span class="text-red-500">
                    <svg
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      class="h-6 w-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </div>
                <div class="alert-content ml-4">
                  <div class="alert-title font-semibold text-lg text-red-800">
                    Error
                  </div>
                  <div class="alert-description text-sm text-red-600">
                    {{form.errors.username}} {{form.errors.password2}}
                  </div>
                </div>
              </div>
              <input
                type="submit"
                class="bg-[#002D74] rounded-xl text-white py-2 hover:scale-105 duration-300"
                name="Create User"
              />
            </form>

            <div class="mt-6 grid grid-cols-3 items-center text-gray-400">
              <hr class="border-gray-400" />
              <p class="text-center text-sm">OR</p>
              <hr class="border-gray-400" />
            </div>
            <div
              class="mt-3 text-xs flex justify-between items-center text-[#002D74]"
            >
              <p>Already have an account?</p>
              <button
                class="py-2 px-5 bg-white border rounded-xl hover:scale-110 duration-300"
              >
                <a href="/CoordinatorLogin/" class="w3-bar-item w3-button"
                  >Login</a
                >
              </button>
            </div>
          </div>

          <!-- image -->
          <div class="md:block hidden w-1/2">
            <img
              class="rounded-2xl"
              src="https://img.freepik.com/free-vector/software-development-team-abstract-concept-illustration_335657-3872.jpg?w=826&t=st=1666109274~exp=1666109874~hmac=5746b1422d2990079faf27e7d7dfd94931773284c3c0344c043db85faa90969f"
            />
          </div>
        </div>
      </section>
    </body>
  </head>
</html>
